.header__nav a:hover,
.is-selected-header__nav a
{
    color: #9ab4c1;
}
.is-selected-header__nav
{
    background: url('../images/bg_nav_selected.jpg') no-repeat center bottom;
}
.is-selected.payTotal__selector__list__item
{
    color: #fff;
    background: #c6d8e3;
}
@media screen and (min-width: 768px)
{
    .header__logo,
    .header__nav
    {
        text-align: left;
    }
    .header__nav a
    {
        font-size: 15px;
        padding: 30px 10px 0;
    }
    .header__nav ul
    {
        bottom: 0;
        float: right;
        width: 100%;
    }
    .header__nav__logout a
    {
        font-size: 16px;
        margin: 20px 13px 0;
        padding: 10px 40px;
    }
}